.header-box {
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: none;
  background-color: transparent;
  animation: fadeInUp 1.2s;
}

nav .brand-logo {
  color: black;
  font-weight: 100;
  margin-left: calc(1vw + 0.2rem);
  font-size: 1.6rem;
  letter-spacing: -2px;
}

.brand-logo > small {
  margin-left: 17px;
  font-size: 0.8rem;
  transform: rotate(0.001deg);
  font-weight: 400;
  letter-spacing: 0px;
}

nav ul a , nav ul div {
  font-size: 1rem;
  background-color: rgba(255,255,255,0.8);
  font-weight: 400;
  color: black;
  display: block;
  padding: 0 10px;
  cursor: pointer;
  letter-spacing: 5px;
}
nav ul a:hover {
  color: white;
  text-shadow: 1px 1px black;
}
