.eFgaVv {
  border-bottom: 1px dotted;
  margin-bottom: 3rem !important;
  display: inline-block;
  padding-right: 5%;
  font-style: italic;
}

.hsyvRS {
  /* color: rgb(180, 157, 157) !important; */
  color: gray !important;
  /* font-style: italic; */
}