.perfume-info-section {
  padding-top: 70px;
  background: #fff
}

.perfume-info-image {
  height: 640px;
  animation: fadeIn 2s;
}
.perfume-info-image img {
  margin: auto;
  height: 400px;
}

.perfume-info-text {
  height: 640px;
  display: block;
  animation: fadeIn 4s ease 0s !important;
}

.rate-wrapper {
  position: relative;
  height: 10vw;
  width: 10vw;
}

.perfume-info-text p {
  margin: 0 0.48px;
  padding-right: 80px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  color: gray;
  display: flex;
}
.detail-info-header-text {
  padding-top: 4%
}
.rate-inside-circle {
  position: absolute;
  height: 10vw;
}
.note-tags {
  margin: 1% 3% !important
}
.note-and-rate-row {
  background-color: #fff;
}
.note-and-rate-row > span {
  text-align: center;
  padding: 1% 0;
  display: block;
  background-color: #fff;
}
.rate-inside-circle > h5 {
  position: absolute;
  display: block;
  width: 10vw;
  line-height: 10vw;
  text-align: center;
  font-size: 2vw;
  margin: 0;
}
.rate-inside-circle i {
  color: #4f4f4f !important;
  margin-right: 0.2vw
}
.detail-top-divide {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}
.similar-container {
  background-color: #fff;
  text-align: center;
  border-left: 0;
  border-right: 0;
  display: grid;
  margin-bottom: 5%;
  width: 100%;
  grid-template-rows: repeat(1, 5vw);
  grid-column-gap: 2%;
  grid-template-columns: repeat(10, 1fr);
}
.each-similar {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.rate-circle {
  position: relative;
  display: block;
  width: 10vw;
}

.season-row {
  padding: 0% 20%;
}
.season-row > .col {
  user-select: none;
  height: 80px;
  background-position: center;
}
.perfume_brand {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}
.detail-info-text-header {
  display: grid;
  grid-template-columns: 3fr 1fr
}
.disabled-season {
  filter: brightness(0.2);
  border: 0 !important;
}
.categories-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.categories-row > span {
  margin: 15px 10px;
  padding: 8px;
  font-weight: 900;
  background-color: #4f4f4f;
  font-size: 13px;
  color: white;
}
.detail_price {
  margin-right: auto;
  font-size: 40px;
  color: #dc143c;
  font-weight: 700;
}
.review-write-box {
  margin: 1% 5%; 
  background-color: #f0f0f0;
}
/* Reviews */
.review-list-container {
  margin-right: 5%;
  margin-left: 5%;
  background: #fdfdfd;
}
.review-list-header {
  margin: 0 5%;
  padding: 0 10%;
  font-size: 2vw;
  font-weight: 100;
}
.review-list-row {
  min-height: 80px;
  background: white;
  border-bottom: 0;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}
.rank-badge {
  height: 56px;
}

.review-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 !important;
  background: #efefef;
}

.review-content {
  background: white;
  margin: 32px 0 32px 0;
  padding: 0 32px 0 48px !important;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}
#review-content-text {
  background: white;
  border: 1px solid #f0f0f0;
  min-height: 112px;
  transition: 1s;
  padding: 16px 8px 8px 32px;
  color: #2f2f2f;
  font-size: 1.16px;
  font-weight: 400;
}
textarea {
  font-size: 16px !important;
}
textarea:focus { 
  outline: 2px solid skyblue !important;
  padding-top: 32px !important;
  min-height: 160px !important;
}
.username {
  color: royalblue;
  font-weight: 700;
}

.review-function {
  border: 1px solid #f2f2f2;
  text-align: center;
  color: lightgray;
}
.review-function > .row {
  justify-content: center;
  align-content: center;
}

.star-row {
  background: #f2f2f2;
  color: pink;
  padding: 8px 0;
  font-weight: 700;
  font-size: 22.4px;
  top: 0;
}