
.top-detail-head {
  height: 2.7vw;
  background-color: rgb(31, 31, 31);
  margin-top: 2vw;
  border-radius: 3px 3px 0 0;
  border-bottom: 5px double white;
  padding-bottom: 0.5vw;
  color: white;
  text-align: center;
  font-size: 1.9vw;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1vw;
  font-weight: 100;
}


.btn.waves-effect {
  background-color: rgb(63, 60, 60) !important;
}
.btn.waves-effect:hover {
  background-color: rgb(34, 32, 32) !important;
}

.StarRating {
  padding: 1rem;
}

.leftcon-p {
  padding: 2vw;
}
.leftcont-black {
  background-color: rgb(31, 31, 31);
  padding: 2vw;
}
.mini-note-color {
  color: rgb(241, 238, 238);
}
.note-tags .chip {
  border-radius: 15px !important;
  margin-left: .3rem;
}
.average-box {
  background-color: rgb(31, 31, 31);
  padding: 2vw;
}
.right-p {
  padding: 2vw;
}
.rc-progress-circle {
  stroke: rgb(233, 231, 228);
}
.same-perfume-b {
  /* z-index: 2; */
  padding: 2vw;
  /* background-color: #fff; */
}
.wc-row-recc {
  background-color: 
  /* z-index: 1; */
  /* margin-bottom: 0 !important; */
}
.detail-info-header-text > p{
  display: flex;
  align-items: center;
}