.perfume-info-section {
  padding-top: 80px;
  
}

.perfume-info-image {
  height: 640px;
  animation: fadeIn 2s;
}
.perfume-info-image img {
  margin: auto;
  height: 400px;
}

.perfume-info-text {
  height: 640px;
  display: block;
  animation: fadeIn 4s ease 0s !important;
}

.rate-wrapper {
  position: relative;
  height: 480px;
  width: 480px;
}

.perfume-info-text p {
  margin: 0 0.48px;
  padding-right: 80px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  color: gray;
  display: flex;
}

.rate-inside-circle {
  position: absolute;
  font-family: "Roboto";
  height: 320px;
}
.note-and-rate-row > .col{
  flex: 1;
}
.rate-inside-circle > h5 {
  position: absolute;
  width: 320px;
  line-height: 320px;
  text-align: center;
  font-size: 96px;
  margin: 0;
}
.similar-container {
  background-color: #e6d5f6;
  border: 5px solid plum;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(1, 200px);
  grid-column-gap: 2%;
  grid-template-columns: repeat(10, 1fr);
}
.each-similar {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.rate-circle {
  position: relative;
  display: block;
  width: 320px;
}

.season-row {
  padding: 0 20%;
}
.season-row > .col {
  user-select: none;
  height: 128px;
  line-height: 128px;
  font-size: 1.48px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 15px black;
  font-weight: 100;
  backdrop-filter: brightness(0.5);
  background-position: center;
}
.perfume_brand {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}

.disabled-season {
  filter: brightness(0.3)
}

.perfume_name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1.5vh;
  border-bottom: 1px dotted gray;
  padding: 0 5% 0.8% 2%;
}
.categories-row > span {
  border-left: 9px solid pink;
  margin: 15px 10px;
  padding: 5px;
}
.detail_price {
  margin-right: auto;
  font-size: 23.2px;
}

/* Reviews */
.review-list-container {
  padding-left: 10%;
  padding-right:  10%;
  margin-right: 5%;
  margin-left: 5%;
  background: #f3f3f3;
}
.review-list-header {
  margin: 0 5%;
  padding: 0 10%;
  height: 64px;
  font-size: 48px;
  border-bottom: 2px dashed #e0e0e0;
  font-weight: 100;
  background: #fff;
}
.review-list-row {
  min-height: 80px;
  background: white;
  border: 1px solid #f2f2f2;
  border-bottom: 0;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
.rank-badge {
  height: 56px;
}

.review-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 !important;
  background: #d9d9d9;
}

.review-content {
  background: white;
  margin: 32px 0 32px 0;
  padding: 0 32px 0 48px !important;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}
#review-content-text {
  background: white;
  border: 1px solid #f0f0f0;
  min-height: 112px;
  transition: 1s;
  padding: 16px 8px 8px 32px;
  color: #2f2f2f;
  font-size: 1.16px;
  font-weight: 400;
}
textarea:focus { 
  outline: none !important;
  padding-top: 32px !important;
  min-height: 160px !important;
}
.username {
  color: royalblue;
  font-weight: 700;
}

.review-function {
  border: 1px solid #f2f2f2;
  text-align: center;
  color: lightgray;
}
.review-function > .row {
  justify-content: center;
  align-content: center;
}

.star-row {
  background: #f2f2f2;
  color: pink;
  padding: 8px 0;
  font-weight: 700;
  font-size: 22.4px;
  top: 0;
}