.perfume-info-section {
  padding-top: 5rem;
  
}

.perfume-info-image {
  height: 40rem;
  animation: fadeIn 2s;
}
.perfume-info-image img {
  margin: auto;
  height: 25rem;
}

.perfume-info-text {
  height: 40rem;
  display: block;
  animation: fadeIn 4s ease 0s !important;
}

.rate-wrapper {
  position: relative;
  height: 30rem;
  width: 30rem;
}

.perfume-info-text p {
  margin: 0 0.3rem;
  padding-right: 5rem;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 700;
  color: gray;
  display: flex;
}

.rate-inside-circle {
  position: absolute;
  font-family: "Roboto";
  height: 20rem;
}
.note-and-rate-row > .col{
  flex: 1;
}
.rate-inside-circle > h5 {
  position: absolute;
  width: 20rem;
  line-height: 22rem;
  text-align: center;
  font-size: 6rem;
  margin: 0;
}
.rate-circle {
  position: relative;
  display: block;
  width: 20rem;
}

.season-row {
  padding: 0 20%;
}
.season-row > .col {
  user-select: none;
  height: 8rem;
  line-height: 8rem;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 15px black;
  font-weight: 100;
  backdrop-filter: brightness(0.5);
  background-position: center;
}
.perfume_brand {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}

.disabled-season {
  filter: brightness(0.3)
}

.perfume_name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1.5vh;
  border-bottom: 1px dotted gray;
  padding: 0 5% 0.8% 2%;
}
.categories-row > span {
  border-left: 9px solid pink;
  margin: 15px 10px;
  padding: 5px;
}
.detail_price {
  margin-right: auto;
  font-size: 1.45rem;
}

/* Reviews */
.review-list-container {
  padding-left: 10%;
  padding-right:  10%;
  margin-right: 5%;
  margin-left: 5%;
  background: #f3f3f3;
}
.review-list-header {
  margin: 0 5%;
  padding: 0 10%;
  height: 4rem;
  font-size: 3rem;
  border-bottom: 2px dashed #e0e0e0;
  font-weight: 100;
  background: #fff;
}
.review-list-row {
  min-height: 5rem;
  background: white;
  border: 1px solid #f2f2f2;
  border-bottom: 0;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
.rank-badge {
  height: 3.5rem;
}

.review-header {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 !important;
  background: #d9d9d9;
}

.review-content {
  background: white;
  margin: 2rem 0 2rem 0;
  padding: 0 2rem 0 3rem !important;
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
}
#review-content-text {
  background: white;
  border: 1px solid #f0f0f0;
  min-height: 7rem;
  transition: 1s;
  padding: 1rem 0.5rem 0.5rem 2rem;
  color: #2f2f2f;
  font-size: 1.1rem;
  font-weight: 400;
}
textarea:focus { 
  outline: none !important;
  padding-top: 2rem !important;
  min-height: 10rem !important;
}
.username {
  color: royalblue;
  font-weight: 700;
}

.review-function {
  border: 1px solid #f2f2f2;
  text-align: center;
  color: lightgray;
}
.review-function > .row {
  justify-content: center;
  align-content: center;
}

.star-row {
  background: #f2f2f2;
  color: pink;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1.4rem;
  top: 0;
}