.footer-teammates {
    text-align: center;
}

.footer-teammates>p {
    margin: 0
}


.footer_container {
    width: 100%;
}

.page-footer {
    /* background-color: #ee6e73; */
    background-color: #c78b8d88;
}

.intro-box {
    text-align: center;
    height: 300px;
    /* box-shadow: 0 0  5px lightgray; */
    /* border: .1px solid #ebcccd; */
    border: 1px solid #ffffff;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(250, 248, 248, 1);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-bottom: 5rem;
}


.intro-box>i {
    /* color: #f7cbcc; */
    color: #f3d9d9;
    ;
    text-shadow: 1px 1px 2px #d89698;
    margin-top: 1vw;
}

.intro-box>h4 {
    /* margin-top: 0.5rem; */
    font-weight: lighter;
    /* border-bottom: 1px dotted #ee6e73; */
    margin: 0 20%;
    color: #977373;
    font-style: italic;
}

.intro-box>p {
    padding: 0 10%;
    text-align: center;
    color: gray;
}

@media (max-width: 880px) {
    .intro-box>h4 {
        font-size: 20px;
        margin: 0;
    }

    .intro-box>p {
        font-size: 12px;
    }
}

.home-section-devider {
    font-size: 2.5rem;
    font-weight: lighter;
    /* margin: 2rem 0;  */
    /* padding: 1rem 0; */
    text-align: center;
    /* border-bottom: 4px dotted #ee6e73; */

    background-color: #f3d9d9;
    border-bottom: 0px dashed #e9979a;
    border: 1px;
    /* width: 300px; */
    margin: 5rem auto 0 auto;
    padding-bottom: .5rem;
    padding-top: 1rem;
    border-radius: 8px 8px 0 0;
    /* box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.15); */
    /* color: #e9979a; */
    color: white;
}


/* Perfumes List */
.cards_box {
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: 5rem 0;
    padding: 3rem 2rem;
    /* border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3); */
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    padding-left: 1.6rem;
    margin-right: .6rem;
    margin-top: .5rem;
}

.perfume_sort_row {
    border: 0;
    padding: 1rem;
    border-radius: 5px;
    /* background: linear-gradient(to left, rgb(226, 231, 238), rgb(228, 214, 224)); */

    /* background-image: url(/static/media/detail-bg.a052fc88.png);
    height: 100%;
    background-size: cover;
    background-attachment: fixed; */
    margin: 0;
}

.perfume_sort_row > .col {
    box-shadow: 1px 1px 2px rgb(138, 80, 116);
    /* font-weight: bold; */
    padding: .3rem 1rem !important;
    font-size: 15px;
}

.sort_btn {
    /* background-color: rgb(223, 194, 235); */
    background: linear-gradient(to left, rgb(229, 206, 235), rgb(199, 189, 228));
    padding: 1rem;
}

.sort_btn:hover {
    /* background-color: rgb(226, 182, 211); */
    background: linear-gradient(to right, rgb(209, 183, 187), rgb(206, 175, 193));
    font-weight: bold;
}


.sort_btn > a {
    color: white;
}

.perfume-topheader {
    /* background: rgb(247, 227, 227); */
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* border-radius: 0 0 10px 10px; */
    border-radius: 5px;
    padding: .1rem;
    margin-bottom: 2rem;
    border: .4px solid rgba(0, 0, 0, 0.2);
}

.row-margin {
    margin-bottom: 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(195, 160, 209);
}

.radio-search {
    /* background: rgb(248, 232, 232); */
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: .4px solid rgba(0, 0, 0, 0.2); */
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
}

.radio-search-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: .5rem 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: .4px solid rgba(0, 0, 0, 0.2);
}

/* radio */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: rgb(171, 158, 228);
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(194, 121, 170);
}


/* 임시 css */
.user_page_link>button {
    background-color: rgb(231, 208, 208);
    box-shadow: 1px 1px 2px .5px #3f3f3f80;
}

.user_page_link>button:hover {
    background-color: rgb(226, 186, 186);
}

.user_page_link>button>span>a {
    color: white;
}