@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Tinos&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
/* @font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; } */
/* @font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; } */
/* @font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; } */
@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }


.home_sub {
  background-color: #fff;
  padding: 1rem 0;
  margin-top: 5rem;
}

.hover-shadow {
  margin: 1rem;
}

.random_perfume_center {
  display: flex;
  justify-content: center;
  padding: 0 7rem;
}

.ran_car_name {
  width: 150px;
  font-size: 17px;
  text-align: center;
  margin: 1rem auto;
}

@media (max-width: 1200px) {
  .hover-shadow {
    width: 150px !important;
  }
}

/* @media (max-width: 1020px) */

.footer-teammates {
  text-align: center;
  color: #bbbbb2;
}

.team_name {
  color: #bbbbb2;
  font-size: 20px;
  padding-bottom: .5rem;
  /* border-bottom: 1px solid; */
  /* width: 126px; */
}

.footer_emoji {
  margin-bottom: 0.3rem;
}

.footer_container {
  width: 75% !important;
}

.footer-copyright {
  color: #979790 !important;
}

.page-footer {
  background-color: #f8f8f6;
}
.page-footer a {
  color: #f8f8f6;
  letter-spacing: .5px;
}

.fontaweseom_footer {
  background-color: #ccccc4;
  font-size: 20px;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0 .5rem;
}

.fontaweseom_footer:hover {
  background-color: #b1b1a9
}

.fontaweseom_footer > svg {
  width: 22px !important;
}

.fontaweseom_row {
  display: flex;
}

.footer_notion {
  color: #979790 !important;
}

.footer_notion > i {
  color: #979790 !important;
  margin-right: .5rem;
}

.jcenter {
  justify-content: center;
  display: flex;
}
.intro-box {
  text-align: center;
  padding: 20%;
  width: 100%;
  border-radius: 50%;
  background-color: #f4f4f4;
  margin: auto
}

.intro-box > i {
  color: #d689d9;
  margin-top: 2%;

}

.intro-box > h4 {
  /* font-weight: lighter; */
  margin: 0 20%;
  color: #977373;
  margin-bottom: auto;
}

.intro-box > p {
  padding: 5% 7%;
  text-align: center;
  color: gray;
}

@media (max-width: 880px) {
  .intro-box > h4 {
    font-size: 20px;
    margin: 0;
  }

  .intro-box > p {
    font-size: 12px;
  }
}

.home-section-devider {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;

  border-bottom: 0px dashed #e9979a;
  border: 1px;
  margin: 80px auto 0 auto;
  padding-bottom: 8px;
  padding-top: 16px;
  border-radius: 8px 8px 0 0;
  color: black;
}

/* Perfumes List */
.cards_box {
  margin: 80px 0;
  padding: 48px 32px;
}

.perfume_sort_row {
  border: 0;
  padding: 16px;
  border-radius: 5px;
  margin: 0;
}

.perfume_sort_row > .col {
  box-shadow: 1px 1px 2px rgb(138, 80, 116);
  /* font-weight: bold; */
  padding: 4.8px 16px !important;
  font-size: 15px;
}

.sort_btn {
  /* background-color: rgb(223, 194, 235); */
  background: linear-gradient(to left, rgb(231, 217, 235), rgb(220, 214, 236));
  padding: 16px;
}

.sort_btn:hover {
  /* background-color: rgb(226, 182, 211); */
  background: linear-gradient(to right, rgb(209, 183, 187), rgb(206, 175, 193));
  font-weight: bold;
}

.sort_btn > a {
  color: rgb(90, 81, 81);
  font-weight: bold;
}
.row-margin {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(195, 160, 209);
}

.radio-search {
  /* background: rgb(248, 232, 232); */
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: .4px solid rgba(0, 0, 0, 0.2); */
  padding: 16px 32px;
  border-radius: 10px 10px 0 0;
}

.radio-search-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 0.4px solid rgba(0, 0, 0, 0.2);
}

.homegrid {
  background-size: cover !important;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  color: white;
  /* font-family: "Roboto"; */
  line-height: 32px;
  line-height-step: 10px;
  transition: 1s;
  padding: 0 !important;
  border-radius: 2px;
}

/* .homegrid:hover{
  cursor: pointer;
  border: initial;
  display: block;
  background-image: none !important;
} */

.homegrid > hr {
  border: 1px solid white;
}
/* .homegrid:hover > p{
  background: white;
  color: black
} */
.homegrid:not(:hover) + .homegrid-content {
  background-color: #000000;
  opacity: 0;
  /* background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 1rem;
  width: 65%;
  margin: auto;
  margin-top: 20%; */

}

/* .homegrid:hover + .homegrid-content:after {
  background: rgba(255, 255, 255, 0.8) !important;
  opacity: 1 !important;
  color: black;
  padding: 1rem;
  width: 65%;
  margin: auto;
  margin-top: 20%;
} */

.homegrid-content > p {
  font-family: 'MapoPeacefull';
  /* font-family: 'MapoFlowerIsland' !important; */
}

.homegrid-header {
  /* text-shadow: 2px 2px 4px #3f3f3f; */
  font-weight: 400;
  text-align: start;
  width: 60%;
}

.header-right-text {
  /* text-align: end; */
  text-align: start;
}
.header-x-short-text {
  width: 45%;
}
.header-center {
  padding-bottom: 3em;
}

@media (max-width: 1182px) {
  .homegrid-header {
    width: 40%;
    text-align: center;
    margin-top: 2rem;
  }
  .header-x-short-text {
    width: 30%;
    margin-left: 5rem;
  }
  .header-d-f-reverse {
    flex-direction: column-reverse;
  }
  .header-center {
    justify-content: center;
  }
}

@media (min-width: 1183px) {
  .header-right-text {
    margin-right: 3rem;
  }
}


@media (max-width: 872px) {
  .homegrid-header {
    width: 70%;
  }
}


@media (max-width: 400px) {
  .homegrid-header {
    width: 100%;
  }
}

@media(max-width: 471px) {
  .homegrid {
    background-size: 50%;
  }
}


@media (max-width: 736px) {
  .homegrid-header {
    margin: 2rem 0 0 0 !important;
  }
}

.home-story-sub1-a {
  color: #f7a3aa;
  margin: 0;
  font-weight: 1000;
}
.home-story-sub1-c {
  color: #c8a78b;
  margin: 0;
  font-weight: 1000;
}
.home-story-sub1-d {
  color: #e5aeca;
  margin: 0;
  font-weight: 1000;
}

.home-story-sub2 {
  margin: .3rem 0 .5rem 0;
  font-weight: 1000;
}

.home-story-text {
  line-height: 1.7rem;
  margin-bottom: 1rem;
  /* background-color: #f8f8f6; */
}

.homegrid-header > h1 {
  font-size: 30px;
  /* font-family: 'Tinos', serif; */
  font-family: 'S-CoreDream-3Light';
  /* font-family: 'PT Serif', serif; */
}

.homegrid-header > h4 {
  font-family: 'S-CoreDream-3Light';
  /* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; */

}
.homegrid-content > i {
  color: gray !important;
  font-weight: 200;
  font-family: 'Cafe24Oneprettynight';
  /* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; */

}
.homegrid-header + .s2-homegrid-header {
  text-align: right !important;
}

