.footer-teammates {
    text-align: center;
}

.footer-teammates>p {
    margin: 0
}

.footer_container {
    width: 100%;
}

.page-footer {
    /* background-color: #ee6e73; */
    background-color: #c78b8d88;
}