@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

.bg {
  background-image: url("../assets/detail-bg.png");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.conversational-form-inner {
  background: #f0cff9;
}
.one-row .animate-in {
  background-color: #fff;
  border-radius: 15px !important;
  padding: 0 !important
}

cf-button {
  margin: 5px !important;
}


.select-u-want {
  font-weight: 100;
  padding: 2%;
  margin: 0;
  text-align: center;
  font-size: 22px;
  background-color:#EFFBF5;
}
/* .cf-image {
  width: 145px !important;
  height: 86px  !important;
  border-radius: 15px;
} */
.inputWrapper {
  background: white
}
.survey_box {
  background-color: #fff;
  width: 80%;
  overflow: hidden;
  height: 100vh;
  margin: auto;
  padding: 5%;
}
.result_box {
  background-color: #E0ECF8;
  width: 82%;
  padding: 5% 10%;
  margin: auto;
}
.title {
  font-size: 3vw;
  font-style: italic;
  font-weight: 200;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

.titles {
  text-align: center;
  font-size: 32px;
  text-align: left;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
  color: rgba(0, 0, 0, 0.7);
}

.sub_title {
  margin-top: 16px;
  color: gray;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.gender_ .switch label input[type=checkbox]:checked+.lever {
  background-color: lightblue;
}
.gender_ .switch label input[type=checkbox]:checked+.lever:after {
  background-color: rgb(147, 171, 216);
}

.gender_ .switch label .lever {
  background-color: lightpink;
}
.gender_ .switch label .lever:after {
  background-color: rgb(240, 157, 154);
}

.gender_ .switch label .lever:before {
  background-color: rgba(128, 128, 128, 0.5);
}

.gender_ label {
  color: #fff;
  font-size: 0;
}

.gender_ {
  display: flex;
  flex-direction: column;
  color: gray;
  font-style: italic;
  justify-content: center;
}
.male_fe {
  display: flex;
  justify-content: center;
}

.gender_ label {
  color: gray;
  font-weight: 500;
}

.none_gender {
  margin-top: 16px;
  text-align: center;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 25.6px;
}

.gender_1 {
  color: lightcoral;
  font-weight: 600;

}
.gender_2 {
  color: rgb(102, 166, 206);
  font-weight: 600;
}
.season {
  text-align: center;
  margin: 16px auto;
}
.season span {
  margin-left: 16px;
  font-style: italic;
  font-weight: 500;
  color: rgb(70, 58, 58);
  width: 120px;
  text-align: start;
}
[type="checkbox"]+span:not(.lever) {
  padding-left: 32px;
}
.inputWrapper > textarea {
  display: none !important;
}

.tags {
  display: flex;
  justify-content: center;
}

.hate_cate {
  text-align: center;
}

.rem {
  margin-bottom: 80px;
}

.submit_survey {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.submit_survey > button:focus {
  background-color: rgb(105, 85, 85);
}


.survey-tab-1 {
  background-color: white;
  display: block;
  justify-content: center;
  text-align: center;
}


.survey_inner_container {
  background-color: #FBEFF2;
  height: 100%;
}
.result-rank {
  color: royalblue;
  position: absolute;
  padding-left: 1vw;
  font-weight: 700;
  font-size: 30px !important;
}

.result-grid {
  background-color: #e6d5f6;
  display: grid;
  text-align: center;
  overflow-y: hidden;
  grid-template-rows: repeat(6, 250px);
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.each-grid-result {
  background-color: rgb(187, 187, 226);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.result-title {
  font-size: 2vw;
  font-weight: 100;
  background-color: #ffedf8;
  padding: 1rem 1rem 4rem 1rem;
}
.result-header {
  opacity: 0;
  color: black;
  width: 50%;
  margin: auto;
  font-weight: 400;
  background-color: #fafafa;
  z-index: 99;
  transition: 0.3s ease;
}
.result-price {
  font-size: 2rem;
  color: black;
  transition: 0.4s ease;
}
.each-grid-result:hover .result-header {
  opacity: 0.9 !important;
  z-index: 3;
}
.survey_inner_container div {
  height: 100%
}
.hide-input {
  min-height: 60px;
  transition: 1s;
  border-radius: 10px;
}
.one-row{
  padding: 2px !important;
  border-radius: 10px !important;
  min-height: 60px;
}
.cf-chat-response text>p {
  background-color: white !important;
}

.note-select-wrapper {
  width: 80%;
  margin: auto;
  padding: 0.5%;
  position: relative;
  max-height: 580px;
  background-color: #EFFBEF;
  font-weight: 100;
}
.survey-commit-btn {
  display: block;
  position: absolute;
  width: 40%;
  top: 90%;
  left: 55%;
  background-color: #e6d5f6;
  color: black;
  font-weight: 700;
}
.grid-templ {
  display: grid;
  text-align: left;
  border: 1px solid #e3e3e3;
  grid-template-rows: repeat(11, 50px);
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  grid-template-columns: repeat(4, 1fr);
}

.male-img {
  font-family: 'NIXGONM-Vb' !important;
}
.female-img {
  font-family: 'NIXGONM-Vb' !important;
}
.unisex-img {
  font-family: 'NIXGONM-Vb' !important;
}