.bg {
  background-image: url("../assets/detail-bg.png");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.survey_box {
  background-color: rgba(255, 255, 255, 1);
  width: 66%;
  height: 80vh;
  margin: 80px auto;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  padding: 32px 80px;
}

.title {
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

.titles {
  text-align: center;
  font-size: 32px;
  text-align: left;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
  color: rgba(0, 0, 0, 0.7);
}

.sub_title {
  margin-top: 16px;
  color: gray;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.gender_ .switch label input[type=checkbox]:checked+.lever {
  background-color: lightblue;
}
.gender_ .switch label input[type=checkbox]:checked+.lever:after {
  background-color: rgb(147, 171, 216);
}

.gender_ .switch label .lever {
  background-color: lightpink;
}
.gender_ .switch label .lever:after {
  background-color: rgb(240, 157, 154);
}

.gender_ .switch label .lever:before {
  background-color: rgba(128, 128, 128, 0.5);
}

.gender_ label {
  color: #fff;
  font-size: 0;
}

.gender_ {
  display: flex;
  flex-direction: column;
  color: gray;
  font-style: italic;
  justify-content: center;
}
.male_fe {
  display: flex;
  justify-content: center;
}

.gender_ label {
  color: gray;
  font-weight: 500;
}

.none_gender {
  margin-top: 16px;
  text-align: center;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 25.6px;
}

.gender_1 {
  color: lightcoral;
  font-weight: 600;

}
.gender_2 {
  color: rgb(102, 166, 206);
  font-weight: 600;
}
.season {
  text-align: center;
  margin: 16px auto;
}
.season span {
  margin-left: 16px;
  font-style: italic;
  font-weight: 500;
  color: rgb(70, 58, 58);
  width: 120px;
  text-align: start;
}
[type="checkbox"]+span:not(.lever) {
  padding-left: 32px;
}

.tags {
  display: flex;
  justify-content: center;
}

.hate_cate {
  text-align: center;
}

.rem {
  margin-bottom: 80px;
}

.submit_survey {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.submit_survey > button:focus {
  background-color: rgb(105, 85, 85);
}

.tabs {
  display: none;
}

.survey-tab-1 {
  background-color: white;
  display: block;
  justify-content: center;
  text-align: center;
}

#conversational-form {
  height: 100% !important;
}

.survey_inner_container {
  background-color: blue;
  height: 60vh;
}

.survey_inner_container div {
  height: 100%
}
.cf-input-button {
  width: auto !important;
  min-width: 60px !important;
  transition: 450ms ease-in-out !important;
}