.bg {
  background-image: url("../assets/detail-bg.png");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

 /* .cf-button {
  width: 160px;
  height: 150px;
}  */

.cf-button .cf-image {
  width: 160px;
  height: 110px !important;
}

.conversational-form-inner {
  /* background: linear-gradient(to top, rgb(236, 100, 100), rgba(43, 90, 133, 0.979)) */
  /* background: rgba(128, 0, 128, 0.479) */
  border-bottom: 5px solid #b9c5ff;
}


.one-row .animate-in {
  background-color: #fff;
  border-radius: 15px !important;
  padding: 0 !important
}

cf-button {
  margin: 5px !important;
}

.chatbot_banner {
  background-color: rgba(75, 80, 90, 0.979);
  
}

.select-u-want {
  font-weight: 100;
  padding: 2%;
  margin: 0;
  text-align: center;
  font-size: 22px;
  background-color:#EFFBF5;
}
/* .cf-image {
  width: 145px !important;
  height: 86px  !important;
  border-radius: 15px;
} */
.inputWrapper {
  background: white
}
.survey_box {
  background-color: rgb(248, 248, 246);
  width: 80%;
  overflow: hidden;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding: 5%;
  border: 3px solid;
  border-bottom: 12px solid;
  border-radius: 0 0 3px 3px;
  box-shadow: 5px 5px 1px 1px rgb(172, 160, 187);
}
.result_box {
  background-color: #E0ECF8;
  width: 82%;
  padding: 5% 10%;
  margin: auto;
}
.survey_chatbot_title {
  font-size: 15px;
  /* font-style: italic; */
  font-weight: 200;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(48, 46, 46);
  width: 80%;
  margin: 7rem auto 0 auto;
  padding: .8rem 1.2rem;
  /* text-align: center; */
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 1px 1px rgb(172, 160, 187);
}

.row_cate {
  display: flex;
}

.cate_you {
  width: 100px;
  height: 30px;
  margin-left: 1rem;;
  background-color: #b9c5ff;
  border-radius: 8px 8px 0 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cate_other {
  width: 100px;
  height: 30px;
  margin-left: 1rem;;
  background-color: rgb(238, 223, 255);
  border-radius: 8px 8px 0 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cate_to {
  height: 5px;
  background-color: #b9c5ff;
  border-radius: 3px 3px 0 0;
}

.chatbot_start {
  display: flex;
  align-items: center;
}

.chatbot_end {
  display: flex;
  align-items: center;
}

.chatbot_banner {
  padding: 2rem;
  background-color: rgb(80, 77, 112);
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.chatbot_banner > img {
  margin: 0 2rem;
}

.chatbot_end > a {
  background-color: rgb(169, 175, 184);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: .1rem;
}

.chatbot_end > a:hover {
  background-color: rgb(130, 125, 145);
  color: rgba(255, 255, 255, 0.7);
}

.chatbot_start > img {
  margin-right: .5rem;
}

.titles {
  text-align: center;
  font-size: 32px;
  text-align: left;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
  color: rgba(0, 0, 0, 0.7);
}

.sub_title {
  margin-top: 16px;
  color: gray;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.gender_ .switch label input[type=checkbox]:checked+.lever {
  background-color: lightblue;
}
.gender_ .switch label input[type=checkbox]:checked+.lever:after {
  background-color: rgb(147, 171, 216);
}

.gender_ .switch label .lever {
  background-color: lightpink;
}
.gender_ .switch label .lever:after {
  background-color: rgb(240, 157, 154);
}

.gender_ .switch label .lever:before {
  background-color: rgba(128, 128, 128, 0.5);
}

.gender_ label {
  color: #fff;
  font-size: 0;
}

.gender_ {
  display: flex;
  flex-direction: column;
  color: gray;
  font-style: italic;
  justify-content: center;
}
.male_fe {
  display: flex;
  justify-content: center;
}

.gender_ label {
  color: gray;
  font-weight: 500;
}

.none_gender {
  margin-top: 16px;
  text-align: center;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 25.6px;
}

.gender_1 {
  color: lightcoral;
  font-weight: 600;

}
.gender_2 {
  color: rgb(102, 166, 206);
  font-weight: 600;
}
.season {
  text-align: center;
  margin: 16px auto;
}
.season span {
  margin-left: 16px;
  font-style: italic;
  font-weight: 500;
  color: rgb(70, 58, 58);
  width: 120px;
  text-align: start;
}
[type="checkbox"]+span:not(.lever) {
  padding-left: 32px;
}
.inputWrapper > textarea {
  display: none !important;
}

.tags {
  display: flex;
  justify-content: center;
}

.hate_cate {
  text-align: center;
}

.rem {
  margin-bottom: 80px;
}

.submit_survey {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.submit_survey > button:focus {
  background-color: rgb(105, 85, 85);
}


.survey-tab-1 {
  background-color: white;
  display: block;
  justify-content: center;
  text-align: center;
}

 
.survey_inner_container {
  background-color: #FBEFF2;
  height: 100%;
}
.result-rank {
  color: royalblue;
  position: absolute;
  padding-left: 1vw;
  font-weight: 700;
  font-size: 30px !important;
}

.result-grid {
  background-color: #e6d5f6;
  display: grid;
  text-align: center;
  overflow-y: hidden;
  grid-template-rows: repeat(6, 250px);
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.each-grid-result {
  background-color: rgb(187, 187, 226);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.result-title {
  font-size: 2vw;
  font-weight: 100;
  background-color: #ffedf8;
  padding: 1rem 1rem 4rem 1rem;
}
.result-header {
  opacity: 0;
  color: black;
  width: 50%;
  margin: auto;
  font-weight: 400;
  background-color: #fafafa;
  z-index: 99;
  transition: 0.3s ease;
}
.result-price {
  font-size: 2rem;
  color: black;
  transition: 0.4s ease;
}
.each-grid-result:hover .result-header {
  opacity: 0.9 !important;
  z-index: 3;
}
.survey_inner_container div {
  height: 100%
}
.hide-input {
  min-height: 60px;
  transition: 1s;
  border-radius: 10px;
}
.one-row{
  padding: 2px !important;
  border-radius: 10px !important;
  min-height: 60px;
}
.cf-chat-response text>p {
  background-color: white !important;
}

.note-select-wrapper {
  width: 80%;
  margin: auto;
  padding: 0.5%;
  position: relative;
  max-height: 580px;
  background-color: #EFFBEF;
  font-weight: 100;
}
.survey-commit-btn {
  display: block;
  position: absolute;
  width: 40%;
  top: 90%;
  left: 55%;
  background-color: #e6d5f6;
  color: black;
  font-weight: 700;
}
.grid-templ {
  display: grid;
  text-align: left;
  border: 1px solid #e3e3e3;
  grid-template-rows: repeat(11, 50px);
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  grid-template-columns: repeat(4, 1fr);
}