.test_center {
  background: linear-gradient(to left, rgb(165, 192, 238), rgb(251, 197, 236)) !important;
}

.test_banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(165, 192, 238);
  background: -webkit-linear-gradient(left, rgb(165, 192, 238), rgb(251, 197, 236));
  background: -moz-linear-gradient(right, rgb(165, 192, 238), rgb(251, 197, 236));
  background: -o-linear-gradient(right, rgb(165, 192, 238), rgb(251, 197, 236));
  background: linear-gradient(to right, rgb(165, 192, 238), rgb(251, 197, 236));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: inherit; */
}

.test_border_box {
  margin-top: 75px;
  margin-bottom: 90px;
  border: solid 1px white;
  border-radius: 10px;
  width: 45vw;
  height: 150px;
  justify-content: center;
}

.test_font {
  display: flex;
  flex-direction: column;;
  align-items: center;
  font-style: italic;
}

.font_start {
  display: flex;
  align-self: flex-start;
  margin-left: 1vw;
}

.test_underlines {
  color: white;
  border-bottom: 1px dotted white;
  width: 35vw;
  font-size: 50px;
  font-weight: 500;
}

.test_context {
  margin-top: 10px;
  color: rgb(255, 251, 253);
}


/* content */
.content_box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}






/* left */
.deco_box {
  width: 100vw;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  border: dotted white 1px;
}

.left_box_  {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 60px;
  /* border: dotted white 2px; */
}

.left_box_ >img {
  margin: 0 30px;
}

/* collapsible */
.test_collapsible {
  /* margin-top: 70px; */
  width: 50vw;
  border-radius: 10px;
  align-self: center;
}

.collapsible-header {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  color: white;
  /* font-style: italic; */
  /* text-decoration: underline;
  text-underline-position: under; */
}

.collapsible-body {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: white;
  /* text-shadow: 1px 1px 0px rgb(124, 83, 83); */
}

.collapsible.popout>li {
  margin: 40px 0;
  box-shadow: 0.5px 0.5px 0.1px 0.2px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* .collapsible.popout>li.active {
} */

.collapsible.popout>li.active>.collapsible-header {
  border-radius: 10px 10px 0 0;
}

.material-icons {
  margin-right: 0.3rem;
}