asgiref==3.2.7
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.9.0
bootstrap4==0.1.0
branca==0.3.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
config==0.4.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.9
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.5
django-allauth==0.40.0
django-appconf==1.0.4
django-bootstrap4==1.0.1
django-cors-headers==3.2.1
django-crontab==0.7.1
django-heroku==0.3.1
django-imagekit==4.0.2
djangorestframework==3.11.0
dodgy==0.1.9
drf-yasg==1.17.1
drf-yasg-examples==0.1.1
entrypoints==0.3
Faker==2.0.3
folium==0.10.1
gunicorn==19.9.0
idna==2.8
image==1.5.27
inflection==0.3.1
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
isort==4.3.21
itypes==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyterthemes==0.20.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lesscpy==0.13.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
mysql-connector-python==8.0.17
mysqlclient==1.4.4
nbconvert==6.5.1
nbformat==4.4.0
notebook==6.0.0
numpy==1.17.3
oauthlib==3.1.0
openapi-codec==1.3.2
packaging==20.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pep8-naming==0.4.1
pickleshare==0.7.5
Pillow==7.1.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
prospector==1.1.7
psycopg2==2.8.4
pycodestyle==2.4.0
pycparser==2.20
pydocstyle==4.0.1
pyflakes==1.6.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pylint-celery==0.3
pylint-django==2.0.10
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.5
pyrsistent==0.15.3
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.1.0
pytz==2019.3
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.0.2
randstr==0.1.2
requests==2.22.0
requests-oauthlib==1.3.0
requirements-detector==0.6
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
setoptconf==0.2.0
six==1.13.0
sklearn==0.0
snowballstemmer==2.0.0
soupsieve==1.9.4
SQLAlchemy==1.3.16
sqlparse==0.3.0
swagger-spec-validator==2.5.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
tornado==6.0.3
traitlets==4.3.2
typed-ast==1.4.0
uritemplate==3.0.1
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.3
wordcloud==1.6.0
wrapt==1.11.2
