@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);
body,
table,
div,
p {
  font-family: "Roboto";
}
h1 {
  font-size: 17.2px;
}
.col .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body {
  margin: 0;
  min-height: -webkit-fill-available;
}

.card:hover {
  box-shadow: 0 0 15px gray !important;
}
.row > label {
  width: 45% !important;
  text-align: left;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.align-self-start {
  align-self: flex-start !important;
}
.pagenation-container > ul {
  margin: 2% auto !important;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #e0e0e0
}
.perfume-page-background {
  background: #fff;
}

.container {
  width: 85% !important;
  max-width: 1600px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes tallToShort {
  from {
    height: 50vh;
  }
  to {
    height: 112px;
  }
}

.disabled-link {
  font-weight: 700;
  background-color: #4f4f4f;
  pointer-events: none;
}
.disabled-link > span, i {
  color: white !important;
}
.hidden {
  display: none !important;
}
.wrap {
  flex-wrap: wrap;
}
  
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
  
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.select-wrapper {
  border: 2px solid #4f4f4f;
}
.hdown {
  margin-top: 3.6% !important;
}
.gender-radio-wrapper {
  display: grid;
  grid-template-columns: 93px 93px 93px;
  padding: 3%;
  text-align: center;
}
.active-page-now {
  background-color: #4f4f4f !important;
}
.active-page-now > a {
  color: white !important;
}
.survey-image {
  will-change: transform;
  display: flex;
  width: 70%;
  margin: auto;
  height: 25vw;
  transition: 0.5s ease;
  justify-content: center;
  align-items: center;
}
.perfume-sub-nav {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  border-top: 0;
  border-bottom: 1px solid #e0e0e0;
  padding-right: 10%;
}
.perfume-sub-nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #3f3f3f !important;
}
.perfume-sub-nav .input-field, input[type=text]:not(.browser-default) {
  margin: 0 !important;
  height: 38px !important;
  font-size: 12px;
  border-bottom: 0 !important;
}

[type="radio"]:checked+span:after {
  background-color: #4f4f4f !important;
  border: 2px solid lightgray !important;
}

.category-checkbox-grid {
  display: grid;
  grid-template-rows: repeat(25px, 6);
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 10%;
  padding-top: 5%;
}
.hover-shadow {
  transition: 0.3s;
  margin: 0 2rem;
}
.hover-shadow:hover {
  box-shadow: 0 0 2px lightgray;
}
.survey-image:not(:hover) {
  background-image: none !important;
}
.survey-image:not(:hover) .surv-wrapper {
  display: none;
}
.survey-image:not(:hover) .surv-wrapper2 {
  display: block;
}
.surv-wrapper, .surv-wrapper2 {
  text-align: center;
  border: 1px solid #9e9e9e;
  width: 70%;
  border-radius: 30px;
  background: rgb(255,255,255,0.5);
  height: 30%;
  line-height: 115.19px;
  font-size:  2vw;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px black;
  backdrop-filter: blur(10px);
}
.surv-wrapper2 {
  transform: scaleZ(-1);
  display: none;
}
@keyframes maxToSix {
  from {
    opacity: 0.6;
    height: 100vh !important;
  }
  to {
    opacity: 1;
    height: 60vh !important;
  }
}
input:not([type]), input[type=text]:not(.browser-default) {
  width: 100% !important;
  color: gray;
  font-style: italic;
  text-align: center;
}
.maxToSix {
  animation-name: maxToSix;
}
.collapsible {
  box-shadow: none !important;
  margin-top: 0 !important;
  min-width: 300px;
  position: sticky !important;
  top: 0 !important;
  border: 0 !important;
  background: #fcfcfc;
  height: 100vh !important;
}
.fadeInDown {
  animation-name: fadeInDown;
}
.circle-loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-indicator {
  text-align: left;
  margin: 5%;
  letter-spacing: 0.3vw;
  font-weight: 700;
}
.loading-message {
  position: fixed;
  top: 35%;
  font-size: 64px;
  font-weight: 100;
  color: lightgrey;
}

.card-image > img {
  height: 200px !important;
}

.card {
  box-shadow: none !important;
}
.perfume-sidenav {
  padding: 0 28% 0 5%;
}
.perfume-sidenav > ul {
  position: sticky;
  top: 0
} 

.collapsible-header {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  border: 0 !important;
  background-color: #4f4f4f !important;
}
.perfume-list-container {
  position:relative;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow-y: scroll;
  padding-right: 6%;
}
.collapsible-body {
  text-align: right;
  padding: 1% !important;
  font-family: "Roboto";
  letter-spacing: 2px;
  background-color: white;
  border: 0 !important;
}
.collapsible-body > .row {
  flex-wrap: wrap;
}
.collapsible-body > .row > a {
  color: #9e9e9e;
  border-radius: 8px;
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
}
.collapsible-body > .row > a:hover {
  background-color: rgb(216, 193, 230);
  color: white;
  transition: 350ms;
}
.collapsible-body > .row > a > div {
  margin-left: 4px;
}
.collapsible-body > .row > a > i {
  color: #9e9e9e;
}
.w-100 {
  width: 100%;
}
.input-field {
  width: 100%;
}
input[type=text]:not(.browser-default) {
  font-style: normal !important;
}

.slider-btn {
  margin: 0 16px;
  height: 40px !important;
  background: none !important;
  color: black !important;
  border-radius: 15px !important;
  border: 1px solid black !important;
  box-shadow: none !important;

}
.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 4px !important;
}

.mt-1,
.my-1 {
  margin-top: 4px !important;
}

.mr-1,
.mx-1 {
  margin-right: 4px !important;
}

.mb-1,
.my-1 {
  margin-bottom: 4px !important;
}

.ml-1,
.mx-1 {
  margin-left: 4px !important;
}

.m-2 {
  margin: 8px !important;
}

.mt-2,
.my-2 {
  margin-top: 8px !important;
}

.mr-2,
.mx-2 {
  margin-right: 8px !important;
}

.mb-2,
.my-2 {
  margin-bottom: 8px !important;
}

.ml-2,
.mx-2 {
  margin-left: 8px !important;
}

.m-3 {
  margin: 16px !important;
}

.mt-3,
.my-3 {
  margin-top: 16px !important;
}

.mr-3,
.mx-3 {
  margin-right: 16px !important;
}

.mb-3,
.my-3 {
  margin-bottom: 16px !important;
}

.ml-3,
.mx-3 {
  margin-left:16px !important;
}

.m-4 {
  margin: 24px !important;
}

.mt-4,
.my-4 {
  margin-top: 24px !important;
}

.mr-4,
.mx-4 {
  margin-right: 24px !important;
}

.mb-4,
.my-4 {
  margin-bottom: 24px !important;
}

.ml-4,
.mx-4 {
  margin-left: 24px !important;
}

.m-5 {
  margin: 48px !important;
}

.mt-5,
.my-5 {
  margin-top: 48px !important;
}

.mr-5,
.mx-5 {
  margin-right: 48px !important;
}

.mb-5,
.my-5 {
  margin-bottom: 48px !important;
}

.ml-5,
.mx-5 {
  margin-left: 48px !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 4px !important;
}

.pt-1,
.py-1 {
  padding-top: 4px !important;
}

.pr-1,
.px-1 {
  padding-right: 4px !important;
}

.pb-1,
.py-1 {
  padding-bottom: 4px !important;
}

.pl-1,
.px-1 {
  padding-left: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.pt-2,
.py-2 {
  padding-top: 8px !important;
}

.pr-2,
.px-2 {
  padding-right: 8px !important;
}

.pb-2,
.py-2 {
  padding-bottom: 8px !important;
}

.pl-2,
.px-2 {
  padding-left: 8px !important;
}

.p-3 {
  padding: 16px !important;
}

.pt-3,
.py-3 {
  padding-top: 16px !important;
}

.pr-3,
.px-3 {
  padding-right: 16px !important;
}

.pb-3,
.py-3 {
  padding-bottom: 16px !important;
}

.pl-3,
.px-3 {
  padding-left: 16px !important;
}

.p-4 {
  padding: 24px !important;
}

.pt-4,
.py-4 {
  padding-top: 24px !important;
}

.pr-4,
.px-4 {
  padding-right: 24px !important;
}

.pb-4,
.py-4 {
  padding-bottom: 24px !important;
}

.pl-4,
.px-4 {
  padding-left: 24px !important;
}

.p-5 {
  padding: 48px !important;
}

.pt-5,
.py-5 {
  padding-top: 48px !important;
}

.pr-5,
.px-5 {
  padding-right: 48px !important;
}

.pb-5,
.py-5 {
  padding-bottom: 48px !important;
}

.pl-5,
.px-5 {
  padding-left: 48px !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
