@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
.slider .indicators .indicator-item.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.s1-cap {
  margin-top: 4.1%;
}

.s-font {
  font-family: 'NanumSquareRound';
}

.slider {
  color: black;
}
.slider .indicators {
  position: relative;
  margin-top: -40px;
  z-index: 5;
}
.slider .slides li .caption {
  color: black;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 11px;
  width: 11px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color .3s;
  border-radius: 50%;
}

.link_banner_btn {
  /* margin-top: 6.9rem; */
  margin-right: 1rem;
  font-weight: 500;
  background-color: rgb(211, 193, 223);
  border-radius: 3px;
  color: black;
  /* color: white; */
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); */
}

.img_btn_in_slider > img {
  width: 359px !important;
  height: 64px !important;
  margin-top: 3rem;
}

.img_btn_in_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_banner_btn_box > button:hover {
  background-color: rgb(129, 100, 115);
  color: white;
}

.home_survey_btn_box {
  display: flex;
  justify-content: space-around;
  margin: 0 0 5rem 0;
}

.home_survey_sc {
  color: gray;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.home_survey > a > img {
  cursor: pointer;
  transition: 0.3s ease;
}

.home_survey > a > img:hover {
  opacity: 0.5;
}

.home_survey_btn {
  font-size: 21px;
  border-radius: 15px;
  /* background-color: #2f95b9; */
  background-color: #443e3c;
  height: 50px;
  padding: 0 2rem;
  font-family: 'S-CoreDream-3Light';
}

.home_survey_btn2 {
  font-size: 21px;
  border-radius: 15px;
  background-color: #b13a1a;
  height: 50px;
  padding: 0 2rem;
  font-family: 'S-CoreDream-3Light';
}

.home_survey_btn:hover {
  background-color: #812e16;
  font-weight: bold;
  /* text-shadow: 1px 1px 5px #83cfda; */
}
.home_survey_btn2:hover {
  /* background-color: #972b5a; */
  background-color: #812e16;
  font-weight: bold;
}

.home_survey_btn:focus {
  background-color: #972b5a;
}
.home_survey_btn2:focus {
  background-color: #972b5a;
}

@media (max-width: 530px) {
  .home_survey_btn_box {
    flex-direction: column;
    text-align: center;
  }
  .home_survey_sc {
    margin-top: 3rem;
  }
}